* {
    margin: 0;
    padding: 0;
}



body {
    background: rgb(69, 125, 126);
    background: linear-gradient(180deg, rgba(69, 125, 126, 1) 0%, rgba(24, 45, 74, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    font-family: 'Raleway', sans-serif;

    .profile {
        margin: auto;
        padding: 25px 0 0 0;
        text-align: center;

        img {
            width: 110px;
            border-radius: 50%;
            border: 2px solid white;
            box-shadow: 0px 0px 30px white;
        }

        h1 {
            font-size: 25px;
            margin: 10px 0;
        }

        h2 {
            font-size: 16px;
            font-weight: 100;
            font-style: italic;
        }
    }

    .links {
        margin: 30px auto;
        text-align: center;
        width: 350px;

        li {
            list-style: none;

            a {
                display: flex;
                text-decoration: none;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                background-color: white;
                border-radius: 10px;
                margin-bottom: 20px;
                font-weight: bold;
                color: rgb(55, 102, 103);

                div {
                    height: 25px;
                    line-height: 25px;
                    width: 100%;
                    position: relative;
                    vertical-align: middle;
                }

                img {
                    position: absolute;
                    left: 0;
                    width: 25px;
                }

            }
        }
    }
}